.header-content-overlay {
  margin-top: -300px;
  z-index: 10;
  position: relative;
}

.min-height-600{
  min-height: 600px;
}

.text-black-custom {
  color: var(--dark-color);
}

.text-secondary-custom {
  color: var(--secondary-color);
}


.navbar.scrolled {
  position: fixed;
  background-image: url('../images/templatemo-wave-header.jpg'), linear-gradient(#348CD2, #FFFFFF);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  padding-bottom: 0px;

  opacity: 1;
  transform: translateY(0);
}

.hidden{
  opacity: 0;
}

.sidebar-block {
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-medium);
  padding: 30px;
}

.line-clamp-1,
.line-clamp-2,
.line-clamp-carousel-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  min-height: 3em;
}

.line-clamp-carousel-title {
  -webkit-line-clamp: 2;
  min-height: 2.5em;
}
